/*Footer css*/
p{
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-family: 'EB Garamond', serif;
}
h3{
  font-family: 'EB Garamond', serif;
}
:root{
  --main-bg-color: black;
  --main-c-color: white;
}
.footer{
  background-color:var(--main-bg-color);
  color:var(--main-c-color);
  display: flex;
  flex-direction: column;
}
.footer-group{
  text-align: start;
  border: 1px solid var(--main-c-color);
  margin: 50px;
  padding: 15px 30px;
}
.footer-group.h2{
  font-size: 22px;
}
.footer.p{
  font-size: 12px;
}
.footer-group.button{
  background-color: var(--main-bg-color);
  color: var(--main-c-color);
  font-size: 12px;
  font-family: 'Montserrat';
  font-weight: bold;
  margin: 2px;
  position: relative;
  padding: 8px 20px;
  cursor: pointer;
}
.footer.social {
  background-color: var(--main-c-color);
  color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
}
.footer.social.title{
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}
.footer.social.icons{
  flex-direction: row;
  justify-content: space-around;
  margin: 0 10% 0 10%;
}
.footer.social.svg.item{
  padding-bottom: 50px;
  width: 40px
}

.footer.copyright {
  font-size: 12px;
  text-align: start;
  background: var( --main-bg-color);
  color: var(--main-c-color);
  padding: 2%;
  position: relative;
}
