:root{
  --main-bg-color: black;
  --main-c-color: white;
  --main-input-color: 30, 30, 30;
}
body {
  display: grid;
  background-color:var(--main-bg-color);
}
header{
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--main-input-color), 0.8);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
header div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--main-bg-color);
}
.Logo img {
  width: 80px;
  height: auto;
}
.Logo {
  grid-column: 2 / 3;
  justify-self: center;
}
.search{
  grid-column: 3 / 4;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
}
.search button {
  background-color: var(--main-bg-color);
  color: var(--main-c-color);
  margin-right: 30px;
}
.search button:hover {
  text-decoration: underline;
}
.search_form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
  border-radius: 20px;
  padding: 10px;
  background-color: var(--main-bg-color);
  width: auto;
  margin-left: auto;
  margin-right: 20px;
  height: 30px;
}
.search_input {
  border: 0;
  background: none;
  padding: 10px;
  font-size: 12px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
.search_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-c-color) ;
  transition: 0.4s;
  width: 40px;
}
.search_form:hover .search_input {
  width: 240px;
}
.search_form:hover {
  background-color: rgb(var(--main-input-color));
}
menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  justify-items: center;
}
menu li {
list-style-type: none;
}
menu li:hover {
  text-decoration: underline;
}
menu li a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: var(--main-c-color);
  font-size: 15px;
}
.cars {
  background-color: var(--main-c-color);
  margin-top: 80px;
}
/* Main css */
main {
  margin-top: 4rem;
}
.about-us section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding: 0% 3%;
}
.bigAdd{
  position: relative;
  text-align: left;
  z-index: 0;
  text-align: center;
}
.bigAdd h1 {
  position: absolute;
  bottom: 40%;
  left: 10%;
  font-size: 300%;
  font-weight: lighter;
  text-align: left;
}
.bigAdd button {
  position: absolute;
  bottom: 35%;
  left: 10%;
  width: 10%;
  height: 5%;
  border-radius: 20px;
  border: none;
  font-size: 80%;
  font-weight: bolder;
  background-color: var(--main-c-color);
  color: var(--main-bg-color);
  transition: background-color 0.5s;
}
.bigAdd button:hover {
  cursor: pointer;
  background-color: var(--main-bg-color);
  color: var(--main-c-color);
}
.content-new {
  background-color: var(--main-bg-color);
}
.content-why {
  background-color: var(--main-c-color); 
}
.content-new article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
section article {
  padding: 0% 3%;
}
.content-why article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
.content-new h2{
  padding-top: 30px;
  text-align: center;
  font-weight: normal;
  font-size: 200%;
  margin: 0;
}
.content-why h2{
  padding-top: 30px;
  text-align: center;
  font-weight: normal;
  font-size: 200%;
  margin: 0;
}
section hr {
  width: 100%;
  height: 0.1px;
  background-color: #999999;
  border: 0 none; 
}
.home-A img {
  grid-column: 1/2 ;
  padding: 5%;
  width: 100%;
  height: 23vw;
  object-fit: cover;
}
.home-B img {
  grid-column: 2/3;
  padding: 5%;
  width: 100%;
  height: 23vw;
  object-fit: cover;
}
.home-A div {
  grid-column: 2/3;
  padding: 5%;
}
.home-B div {
  grid-column: 1/2;
  padding: 5%;
}
section article div h3 {
  font-size: 200%;
  font-weight: normal;
}
section article div p {
  font-size: 100%;
  line-height: 200%;
}
.content h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
.content article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
.article-A {
  background-color: var(--main-c-color);
}
.article-A img {
  grid-column: 1/2 ;
  padding: 5%;
  width: 100%;
  height: 23vw;
  object-fit: cover;
}
.article-B img {
  grid-column: 2/3;
  padding: 5%;
  width: 100%;
  height: 23vw;
  object-fit: cover;
}
.article-A div {
  grid-column: 2/3;
  padding: 5%;
}
.article-B div {
  grid-column: 1/2;
  padding: 5%;
}
/*Footer css*/
p {
  font-family: 'Montserrat', sans-serif;
}
.white-p{
  color: #fff;
}
.black-p{
  color: var(--main-bg-color);
}
h2{
  font-family: 'EB Garamond', serif;
}
h1{
  font-family: 'EB Garamond', serif;
}
h3{
  font-family: 'EB Garamond', serif;
}
button{
  font-family: 'Montserrat', sans-serif;
}

/*Footer css*/
.footer{
  color:var(--main-c-color);
  display: flex;
  flex-direction: column;
}
.footer-group{
  text-align: start;
  border: 1px solid #999999;
  margin: 50px;
  padding: 15px 30px;
}
.footer-group.h2{
  font-size: 22px;
}
.footer-group p {
  font-size: 14px;
  line-height: 150%;
}
.footer.p{
  font-size: 12px;
}
.footer-group.button{
  background-color: var(--main-bg-color);
  color: var(--main-c-color);
  font-size: 12px;
  margin: 2px;
  font-family: 'Montserrat';
  cursor: pointer;
}
.footer.social {
  background-color: var(--main-c-color);
  color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer.social.title{
  text-align: center;
  font-size: 48px;
  font-family: 'EB Garamond';
  font-weight: bold;
}
.footer.social.icons{
  flex-direction: row;
  justify-content: space-around;
  margin: 0 10% 0 10%;
  flex-wrap: wrap  ;
}
.footer.social.svg.item{
  padding-bottom: 50px;
  width: 40px
}

.footer.copyright {
  font-size: 12px;
  text-align: start;
  color: var(--main-c-color);
  padding: 2%;
}
